

	body
	{
		background: #3A9D23;
	
	}
		
	body
	{
		font-family: 'Source Sans Pro';
		font-size: 20px;
		color: #C3B470;
	}
	
	

  
	
	h1,h2 {
		font-weight: 900;
		text-transform: uppercase;
		color: #C3B470;
	}

	nav ul li {
	
		font-size:20px;
		display: inline;
		color:#C3B470;
	}





.carousel-page {
width:100%;
height:400px;
background-color:white;
color:;
}

.centered-button {
	text-align: center;
}



.row0 {
	border-image: 150px 150px;
	padding-top: 80px;
	border-image: 190px;
}


.row0 img { 
	max-width: 100%;
	height: auto;
}

.row1  {
	padding: 80px;
}



.row2 {
	padding-top: 80px;
}


.row3 {
	padding-top: 80px;
}

footer {
	text-align: center;
}

.entete {
	display: inline;
}

#mainnav {
	
	border-color:#C3B470;
	font-color:#C3B470;
}

ul li a{


 color: #C3B470;
 
 }

.collapse {
	
	text-align: center;
}








