

	body
	{
		background: #968D73;
	
	}
		
	body
	{
		font-family: 'Source Sans Pro';
		font-size: 20px;
		color: #4F4C41;
	}
	
	
  
	
	h1,h2 {
		font-weight: 900;
		text-transform: uppercase;
		color: #4F4C41;
	}

	nav ul li a{
	
		font-size:20px;
		display: inline;
		color:#4F4C41;
		font-family:'Source Sans Pro';

	}

.contact {
	
		text-align: left;

	}


.carousel-page {
width:100%;
height:400px;
background-color:white;
}


@media (max-width:320px) {  /*small mobile*/
  	
  	

  #mainimage {height:200px; width:100%;}

	h1 {font-size: 300%;}

	h2 {font-size: 175%}

	h3 {font-size: 150%}

	p {font-size: 100%}

}


#collapseOne {
		background: #968D73;
		color: #4F4C41;
		text-align:  center;
	
	}

#collapseTwo {
		background: #968D73;
		color: #4F4C41;
		text-align:  center;
	
	
	}

#collapseThree {
		background: #968D73;
		color: #4F4C41;
		text-align:  center;
		
	
	}


.row0 {
	
	padding-top: 80px;
	
}

.row0 img { 
	max-width: 80%;
	height: auto;
}

.consultations {
	padding-top: 150px;
	text-align: center;
}


.contact { 
	padding-top: 30px;

}


.consultations img { 
	max-width: 25%;
	height: auto;
}

.osteo { 
	padding-top: 200px;

}


.contact img { 
	max-width: 100%;
	height: auto;
}




#mainnav {
	background-color:#4F4C41;
	border-color:#968D73;
	font-color:#C3B470;
	
}




.footer{
	padding-top: 50px;
	border-color:#968D73;
	font-color:#C3B470;
	color:#C3B470
	text-align: center;
}