

	body
	{
		background: #968D73;
	
	}
		
	body
	{
		font-family: 'Source Sans Pro';
		font-size: 20px;
		color: #4F4C41;
	}
	
	

  
	
	h1,h2 {
		font-weight: 900;
		text-transform: uppercase;
		color: #4F4C41;
	}

	nav ul li {
	
		font-size:20px;
		display: inline;
		color:#4F4C41;
	}





.carousel-page {
width:100%;
height:400px;
background-color:white;
color:;
}

.centered-button {
	text-align: center;
}



.row0 {
	border-image: 150px 150px;
	padding-top: 80px;
	border-image: 190px;
}


.row0 img { 
	max-width: 100%;
	height: auto;
}

.row1  {
	padding: 80px;
}

.row1 img { 
	max-width: 100%;
	height: auto;
}

.row2 img { 
	max-width: 100%;
	height: auto;
}


.row3 img { 
	max-width: 100%;
	height: auto;
}


footer {
	text-align: center;
}

.entete {
	display: inline;
}

#mainnav {
	background-color:#4F4C41;
	border-color:#968D73;
	font-color:#C3B470;
}

ul li a{


 color: ##4F4C41;
 
 }

#accordion {
	
	display: center;
}

h1 h3 {

 margin: 0px;
 }



